
/* The hero image */
.book-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:  url("images/rectangles.webp");
  
    /* Set a specific height */
    height: 400px;
    width: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  
  /* Place text in the middle of the image */
  .book-text {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: #334147;
    font-size: larger;
  }
  @media only screen and (max-width: 600px){
    .book-image {
      height: "100%";
      width: "100%";
      margin-bottom: "600px !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }}
    .book-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      color: #334147;
      font-size: larger;
    }

 