.flexbox-container2 {
  display: flex;
  flex-direction: row;
}

.flexbox-container2 > div {
	width: 50%;
	padding: 20px;
}

.flexbox-container2 > div:first-child {
	margin-right: 20px;
}

  .react-responsive-modal-modal {
    width: 390px;
  }


@media (max-width: 800px) {
  .flexbox-container2 {
    flex-direction: column;
    width: 350%;
    justify-content: center;
    margin-left: -27px;
  }
}
 