.flexbox-container {
  display: flex;
  flex-direction: row;
}

.flexbox-container > div {
	width: 50%;
	padding: 20px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

@media (max-width: 800px) {
  .flexbox-container {
    flex-direction: column;
    width: 350%;
    justify-content: center;
    margin-left: -9px;
  }
}
 