
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:  url("newheroimage.webp");
  
    /* Set a specific height */
    height: 150vh;
    width: 100vw;
    
  
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 22%;
    white-space: nowrap;
    margin-top: "0px !important";
    transform: translate(-50%, -50%);
    color: #334147;
  
    
  }
  
  @media only screen and (min-width: 1386px){
    .hero-image {
      height: 60rem;
      width: 100%;
      margin-bottom: "600px !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      top: 40%;
      left: 23%;
      max-height: 800px;
      margin-top: 8%;
      
    }
  }
  @media only screen and (min-width: 1000px){
    .hero-image {
      height: 60rem;
      width: 100%;
      margin-bottom: "30rem !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      top: 35%;
      left: 23%;
      max-height: 800px;
      margin-top: 8%;
      
    }
  }
  @media only screen and (max-width: 1000px){
    .hero-image {
      height: 45rem;
      width: 100%;
      margin-bottom: "30rem !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      top: 40%;
      left: 25%;
      max-height: 600px;
      margin-top: 8%;
      
    }
  }
  /* Responsive mobile  */
  @media only screen and (max-width: 600px){
    .hero-image {
      height: 25rem;
      width: 100%;
      margin-bottom: "600px !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      top: 55%;
      left: 37%;
      max-height: 400px;
      margin-top: 30px;
      
    }
  }