h1 {
    color: #eeeeee;
}
.container--waitlistapi {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
}
.button--waitlistapi {
    background-color: #27cc62;
}
.statusTextContainer--waitlistapi {
    color: #eeeeee;
}
.referralLinkField--text {
    color: #444444;
}
.statusToggleLabel {
    color: rgba(0, 0, 0, 0);
}
span {
    opacity: 0;
}
img {
    opacity: 0;
}