.video-responsive {
    overflow: hidden;
    padding-bottom: 55.25%;
    margin-top: 55px;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }