
/* The hero image */
.hero-image3 {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:  url("/public/img/newhero22.png");
  
    /* Set a specific height */
    height: 500px;
    width: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  
  /* Responsive mobile  */
  @media only screen and (max-width: 600px){
    .hero-image3 {
      height: 290px;
      width: 100%;
      margin-bottom: "600px !important";
      padding-bottom: "50px !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  }
