
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:  url("/public/img/newhero22.png");
  
    /* Set a specific height */
    height: 500px;
    width: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    top: 30%;
    left: 27%;
    margin-left: 110px;
    white-space: nowrap;
    max-height: 600px;
    margin-top: 118px;
    padding-top: 20px;
    color: #334147;
    font-size: larger;
  }
  
  .typewritereffecttwo{
      font-weight: 10 !important;
      font-size: small;
      white-space: pre-line !important;
  }

  /* Responsive mobile  */
  @media only screen and (max-width: 600px){
    .hero-image {
      height: 290px;
      width: 100%;
      margin-bottom: "600px !important";
      padding-bottom: "50px !important";
      
      /* Position and center the image to scale nicely on all screens */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      top: 55%;
      left: 37%;
      max-height: 400px;
      margin-top: 100px;
      margin-left: 20px;
    }
  }
