
.Instagram{
  font-family: sans-serif;
  text-align: center;
}

._2R-kh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
._wPDyp {
  flex: 0 0 calc(100%/6 - 10px);
  margin: 5px;
  display: block;
  position: relative;
}
._vzTHL {
  display: block;
  width: 100%;
  height: 100%;
  transition: .25s;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
._3xnQP {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  opacity: 0;
}
._3xnQP:hover {
  opacity: 1;
  background-color: #00000061;
}
@media (max-width: 480px) {
  
  /* CSS */
  ._wPDyp{
    flex: 0 0 calc(100%/2 - 10px);
    margin: 5px;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  ._wPDyp {
    flex: 0 0 calc(100%/3 - 10px);
    margin: 5px;
  }
  
}

._3lhLL{
  text-align: center;
  color: red;
  font-size: 18px;
}
